<section class="sample-content">
  <div class="content">
    <h2>Sample Content</h2>
    <h4>
      This sample content gives you an idea of what your colorset looks like.
    </h4>
    <p>
      Sed dictum scelerisque mi non tristique. Etiam suscipit quam sit amet
      congue interdum. Pellentesque sit amet elit non ligula vulputate dignissim
      ac eu mauris. Sed semper, odio at interdum tincidunt, nisi nunc dapibus
      mauris, molestie laoreet eros nisl id enim. Sed id massa sed mi ultrices
      mattis eu ut dui. Fusce enim ante, venenatis in urna vel, suscipit semper
      urna. Praesent lobortis sagittis mi quis bibendum. Integer blandit, justo
      in euismod malesuada, sapien nisl malesuada libero, eget tristique nulla
      nulla et nisl. Quisque quis tellus arcu. Nam vel lectus pretium, consequat
      mauris in, tempor mauris.
    </p>
    <p>
      In porttitor placerat ultricies. Quisque at facilisis lorem. Morbi
      elementum gravida lorem sit amet dignissim. Integer vestibulum, metus a
      maximus placerat, nisl turpis laoreet mi, eget porttitor diam tellus vitae
      est. Aliquam malesuada convallis scelerisque. Donec pellentesque, justo
      nec accumsan fringilla, enim enim auctor turpis, nec tincidunt orci ex vel
      justo. In sit amet lacinia sem. Morbi sed sem libero. Maecenas auctor
      ultrices viverra. Suspendisse quis mauris commodo, dignissim nisi in,
      convallis justo. Donec lorem lectus, molestie nec pulvinar a, molestie non
      ipsum.
    </p>
    <p>
      Sed vitae felis gravida, pellentesque elit eget, imperdiet metus. Aliquam
      magna mi, molestie id nisi in, commodo lobortis ligula. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Ut tempus felis a sem tempus tempor a vitae odio. Quisque
      ultrices efficitur eros, id dignissim sapien rutrum quis. Nam efficitur
      enim ex, tempus porta urna aliquet nec. Curabitur tempus magna velit, eu
      fermentum ex sodales ut.
    </p>
  </div>
</section>
<section class="sample-content">
  <div class="content">
    <h3>Banners</h3>
    <div class="banner-group">
      <div class="banner banner--error">Yep, you fucked up.</div>
      <div class="banner banner--warning">There might be somethign wrong.</div>
      <div class="banner banner--caution">
        Watch out, this might affect you.
      </div>
      <div class="banner banner--success">Congrats! You did well</div>
      <div class="banner banner--info">Did you know, this is a banner?</div>
    </div>
  </div>
</section>
<section class="sample-content">
  <div class="content">
    <h3>Buttons</h3>
    <div class="button-group">
      <div class="button button--primary">Primary button</div>
      <div class="button button--secondary">Secondary button</div>
    </div>
  </div>
</section>
